body {
    font-family: "Sawarabi Gothic";
}

.profile {
    position: relative;
    background: url(https://res.cloudinary.com/chot-help/image/upload/v1600438807/line_319188303385774_xl41gz.jpg) center;
    background-size: cover;
    height: 50vh;
    max-width: 900px;
}

.profile::before {
    background-color: rgba(106, 53, 42, 0.4);
    position: absolute;
    top: bottom 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    height: 22vh;
}

.profile-text {
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    z-index: 1;
    top: bottom 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    color: white;
}